
h1 {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 10px;
}